.Editor {
  /*background-image: url('images/react-logo.svg');*/
  /*background-color: yellow;*/
  background-size: cover;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 100%;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}
.Toolbar {
  /* background-image: url('images/react-logo.svg');*/
  background-color: blue;
  background-size: cover;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
html {
  background: lemonchiffon;  /*lightyellow  lemonchiffon  */
  font: 16px Arial;
}

body {
  margin: 0px;
}
