.Editor {
  /*background-image: url('images/react-logo.svg');*/
  /*background-color: yellow;*/
  background-size: cover;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
.Toolbar {
  /* background-image: url('images/react-logo.svg');*/
  background-color: blue;
  background-size: cover;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
html {
  background: lemonchiffon;  /*lightyellow  lemonchiffon  */
  font: 16px Arial;
}

body {
  margin: 0px;
}
