.Toolbar {
  /* background-image: url('images/react-logo.svg');*/
  background-color: blue;
  background-size: cover;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
